# File Types
*.jpg
*.jpeg
*.png
*.mp3
*.mp4

# Hidden Directories
anti-raid/
commands/Moderation/_logs.txt
images/
node_modules/
other files/
web/*.*

# Secret Files
.vscode
commands/Admin/test.js
config.json