# File Types
*.jpg
*.jpeg
*.png
*.mp3
*.mp4

# Hidden Directories
anti-raid/
images/
node_modules/
other files/
tests/
web/*.*

# Private Files
.vscode
src/commands/Admin/_logs.txt
src/commands/Admin/test.js
config.json
package-lock.json